* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    background-color: brown;
    border: 3px solid black;
    height: 500px;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.box {
    background-color: aqua;
    border: 1px solid black;
    /* width: 100px; */
    /* height: 80px; */
}

#box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    /* if width of box already mentioned than it will not effect so remove width of box 1st */
}

#box3 {
    grid-row-start: 2;
    grid-row-end: 4;
}